<h2>Create a new drone</h2>
<!-- Simple form which will send a GET request -->
<form action="/drones/create" method="POST">
  <label for="first-name-input">Name:</label>
  <input id="first-name-input" type="text" name="firstName" />

  <button type="submit">Save Drone</button>
</form>
<form action="/drones/create" method="POST">
  <label for="first-name-input">Propellers:</label>
  <input id="first-name-input" type="text" name="firstName" />

  <button type="submit">Save Propellers</button>
</form>
<form action="/drones/create" method="POST">
  <label for="first-name-input">MaxSpeed:</label>
  <input id="first-name-input" type="text" name="firstName" />

  <button type="submit">Save MaxSpeed</button>
</form>